//import all arccorp vars
@use "~arccorp-vars/dist/scss/main.scss";

#app {
  color: #414042;
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;

  .loading {
    color: #dddddd;
    vertical-align: middle;
    width: 100%;
    div {
      text-align: left !important;
    }
    .loading-icon {
      text-align: center !important;
      color: #dddddd;
      display: block;
      font-size: 70px;
      margin: 0 auto;
    }
  }

  .row {
    max-width: none;
  }
}

.usa-embed-container {
  position: relative;

  padding-bottom: 56.25%; /* set the aspect ratio here as (height / width) * 100% */

  height: 0;

  overflow: hidden;

  max-width: 100%;

  margin-bottom: 60px;
}

.usa-embed-container iframe {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border: none !important;
}

.ReactModalPortal {
  z-index: 999999;
  position: relative;

  .modal-close {
    font-size: 22px;
    cursor: pointer;
  }

  .ReactModal__Content {
    max-width: 800px;
    width: 100%;
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    marginright: -50%;
    transform: translate(-50%, -50%) !important;
    border: none;
  }
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.6) !important;
}

.arc-dc-page {
  width: 100%;

  .callout-box-container {
    padding-top: 120px;
  }
  .product-quote.fluid .product-quote-copy {
    max-width: 780px !important;
  }

  .arc-sticky-title {
    align-items: center;
    display: flex;
  }

  #overview {
    .callout-container {
      padding-bottom: 0;
    }
  }

  #media {
    .callout-container {
      padding-bottom: 120px;
    }
  }

  #features.bg-img-container {
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
  }

  .product-quote-bg {
    background-position: center center;
  }
}

.arc-dc-video {
  cursor: pointer;
  position: relative;
  margin-bottom: 60px;

  &:after {
    background: url(https://www2.arccorp.com/globalassets/homepage/redesign/webinar/play-button.png)
      50% no-repeat;
    background-size: contain;
    bottom: 15px;
    content: "";
    height: 27px;
    left: 10px;
    position: absolute;
    width: 59px;
  }
}

.arc-dc-airlines {
  padding-top: 120px;
  padding-bottom: 60px;
  text-align: center;

  .container {
    //border-bottom: 1px solid;
    padding-bottom: 60px;
  }

  h2 {
    font-family: SourceSansPro-Black, Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 38px;
  }
}

.arc-dc-image {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}

.arc-dc-airline-logos {
  .arc-dc-image {

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
  }

  .swiper-horizontal {
    padding-left: 60px;
    padding-right: 60px;
  }

  img {
    max-height: 65px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #2a2b2c !important;
  display: none;
}

.hiddenanchor {
  position: absolute;
  top: -70px;
}

.arc-dc-header {
  font-family: main.$arc-font-semibold;
}

.arc-dc-jumbo {
  background-color: black;
  padding-top: 250px;
  background-size: auto !important;
  background-position: top right;
  .ctaBtn {
    display: none;
  }

  .product-header {
    font-size: 86px;
    line-height: 84px;
    margin-bottom: 30px;
  }

  .product-callout-copy {
    max-width: 1000px !important;
  }

  .ctaBtn {
    color: #000000 !important;
  }
}

.arc-dc-switcher {
  border-top: 1px solid #2a2b2c;
  padding-top: 15px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  .arc-dc-switcher-instruction {
    text-align: center;
    font-size: 12px;
    color: #333333;
  }

  .arc-dc-switcher-windows {
    text-align: center;
    margin-top: 60px;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
  }

  .dc-window-open {
    position: absolute;
    bottom: 80px;

    &.top {
      top: 0;
      bottom: auto;
      z-index: 2;
    }
  }

  .arc-dc-switcher-window-title {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-top: 20px;
    color: #888888;

    &.active {
      text-decoration: underline;
      color: #2a2b2c;
    }
  }

  .arc-dc-switcher-window {
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }

  .arc-dc-switcher-content {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    h2 {
      font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
      font-size: 54px;
      color: #2a2a2c;
      text-align: center;
      margin-top: 80px;
      font-size: 54px;
      margin-bottom: 80px;
    }

    .arc-dc-switcher-content-icon {
      img {
        width: 40px;
      }
      margin-bottom: 15px;
    }

    .arc-dc-switcher-content-title {
      color: #2a2b2c;
      font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
      font-size: 22px;
      line-height: 28px;
      max-width: 415px;
    }

    .arc-dc-switcher-content-copy {
      font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
      font-size: 22px;
      color: #888888;
      margin-bottom: 55px;
      max-width: 415px;
      strong {
        font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
      }
    }
  }
}

.arc-dc-support {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  border-top: 1px solid #2a2b2c;
  border-bottom: 1px solid #2a2b2c;
  h2 {
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 30px;
  }
}

.arc-dc-overview-hr {
  margin-top: 120px;
  margin-bottom: 60px;
  border-bottom: 1px solid;
}

.arc-dc-overview-body-header {
  font-size: 50px;
  padding-bottom: 60px;
}

.arc-dc-overview-secondary-header {
  font-size: 22px;
  font-family: main.$arc-font-bold;
  padding-top: 60px;
  padding-bottom: 60px;
}

.access-item-hr {
  margin-bottom: 30px;
  border-bottom: 1px solid;
  min-width: 215px;
  margin-left: 15px;
  margin-right: 15px;
}

img.access-item-icon {
  margin-left: auto;
  margin-right: auto;
}

.access-item-icon-outer {
  display: flex;
  align-items: center;
  height: 90px;
}

.access-item-header {
  text-align: center;
  font-family: main.$arc-font-semibold;
  font-size: 18px;
  color: #000000;
  line-height: 20px;
  padding-top: 25px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.arc-dc-bg {
  padding-top: 400px;
  background: #000000
    url(https://www2.arccorp.com/globalassets/products--participation/airportis/arc-dc-plane-img.png)
    top center no-repeat;
  background-size: contain;

  .product-callout-copy {
    font-family: SourceSansPro-Light, SourceSansPro-Regular, Arial, Helvetica,
      sans-serif;
    font-size: 32px;
    line-height: 42px;
  }
}

.arc-dc-secondary-pt-header {
  padding-top: 60px;
  color: white;
  font-family: main.$arc-font-semibold;
  font-size: 22px;
  padding-bottom: 60px;
}

.arc-dc-outer-icon {
  background-color: #1e2123;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.arc-dc-screenshot {
  border: 1px solid #dddddd;
  border-radius: 20px;
}

.arc-dc-inner-icon {
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;

  & img {
    padding: 30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  & .arc-dc-inner-text {
    color: white;
    font-size: 18px;
    font-family: main.$arc-font-regular;
    text-align: center;
  }
}

.callout-box {
  border-radius: 20px;
}

.arc-dc-overview-item {
  padding-top: 30px;
  border-top: #2a2b2c 1px solid;
  text-align: center;
}

.podcast-player {
  background: #ffffff;
  margin-bottom: 60px;

  .left-side {
    width: 100%;
  }

  .slidecontainer {
    width: 230px;
  }

  .player-items {
    width: 70%;
    flex-direction: row;
    padding: 0px;
  }

  .right-side {
    width: 100%;
    height: 100px;
  }

  .flex-lg-row {
    flex-direction: column !important;
  }
}

.airline-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expand {
  font-size: 25px;
  cursor: pointer;
  text-align: right;
  margin-right: 5px;
  background-color: #fff;
  border: none;
}

@media screen and (max-width: 1260px) {
  #ndc-app .apSectionBottom .apButton {
    font-size: 15px;
  }
}

@media screen and (min-width: 1260px) {
  .sub-callout-container-inner {
    margin-left: -20px;
  }
}

@media screen and (max-width: 767.999px) {
  .arc-dc-bg,
  .arc-dc-jumbo {
    padding-top: 200px;
    background-position: top;

    .product-header {
      font-size: 70px;
    }
  }

  .corporate-window-cover {
    bottom: 84px !important;
  }
}

@import "formdrawer";
@import "airline";
